.tabs {
    background-image: url(../img/pattern-2.png);
    background-attachment: fixed;
    background-position: center;
    #myTab {
        border: none;
        list-style: none;
        display: block;
        .nav-item {
            display: inline-block;
            &+.nav-item {
                margin-left: $mg-0;
            }
            .nav-link {
                position: relative;
                background: $color-white-4;
                border: none;
                padding: $pd-4 $pd-5;
                transition: all .3s ease;
                i {
                    transition: all .3s ease;
                    @include styleIcon($color-black-6, $fs-6, $line-height-2);
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-width: 10px 10px 0 10px;
                    border-style: solid;
                    border-color: #fff transparent transparent transparent;
                    transition: all .3s ease;
                    opacity: 0;
                }
                &.active,
                &:hover,
                &:focus {
                    background: $color-white-0;
                    i {
                        color: $color-black-2;
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    #myTabContent {
        padding: $pd-0 0;
        .tab__title {
            @include styleText ($color-black-1, $fs-0 + 1, $fw-0);
            letter-spacing: $letter-spacing-1 - 3;
        }
        h2 {
            letter-spacing: $letter-spacing-1 - 3;
            font-size: $fs-6 - 6;
        }
        .tab__text {
            line-height: $line-height-1;
        }
    }
    @include reponsive ("extra-large") {
        #myTab {
            text-align: center;
            .nav-item {
                margin-bottom: $mg-4;
            }
        }
    }
    @include reponsive ("medium") {
        #myTab {
            .nav-item {
                width: 100%;
                margin-left: 0 !important;
                .nav-link {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}