@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($color, $bg-color, $fs, $pd-y, $pd-x, $fw) {
    cursor: pointer;
    @extend %inline-block;
    a {
        padding: $pd-y $pd-x;
        background-color: $bg-color;
        display: inline-block;
        color: $color;
        font-size: $fs;
        font-weight: $fw;
        letter-spacing: $letter-spacing-0 + 0.5;
        transition: .3s;
    }
}

@mixin hoverButton ($color-hover, $bg-hover) {
    a:hover {
        background-color: $bg-hover;
        color: $color-hover;
    }
}

@mixin styleIcon ($color, $fs, $line-height) {
    color: $color;
    font-size: $fs;
    line-height: $line-height;
}

@mixin reponsive($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else {
        @warn "'{$screen}' isn't existin breakpoints"
    }
}